* {
    background:rgb(208, 191, 115);
    font-family: 'Ubuntu', sans-serif;
    
    
}

h1, h3 , h2 {

    text-align: center; 

}

h4 {
    text-align: center; 
    background: black;
    color: white;
    width: 100%;
    height: 35%;
  
}

nav, summary, details, a {
background: rgba(14, 14, 14, 0.721);
text-decoration: none;
color: white;

}


p {
    background: rgba(14, 14, 14, 0.585);
    border-radius: 15px;
    padding: 10px;
    color: white;

}

#imagendeproyecto {
width: 33%;

;}
::selection {
    background:white;
    color:black;
}