* {
    background:rgb(208, 191, 115);
    font-family: 'Ubuntu', sans-serif;  
}

h1, h3 , h2 {
    text-align: center; 
}

h6 {
    text-align: center; 
    background: rgb(5, 5, 5);
    font-size: 15PX;
    font-weight: initial;
    color: rgb(255, 251, 251);
    width: 100% vw;
    height: 25% vh;
    
    margin-top: 10px;
    border-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 0px;
    



}

nav, summary, details, a {
background: rgba(14, 14, 14, 0.721);
text-decoration: none;
color: white;
}


p {
    background: rgba(14, 14, 14, 0.585);
    border-radius: 15px;
    padding: 10px;
    color: white;
}

#imagendeproyecto {
width: 32%;
align-content: center;
}

::selection {
    background:white;
    color:black;
}