* {
    font-family: 'Ubuntu', sans-serif;  
    border: none;
    border-radius: 15px;    
}

/* barra de navegacion */
nav, summary, details, a {
background: #0078d7;
text-decoration: none;
color: #eeeeeefa;
border-radius: 15px;
font-size: 20px;
}
h1, h3 , h2 {
    text-align: center; 
    color: #212a31;  
}
/* banners h1 */
h1 {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #eeeeee;
    background: #0076d7ec;
    height: 170px;
}


/* cvideo, imagenes */
.video-mobil {
    border: none;
    text-align: center; 
    background:white;
    font-size: 14PX;
    font-weight: initial;
    width: 100% vw;
    border-radius: 30px;    
    margin-top: 10px;
    border-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

#imagendeproyecto {
    width: 30%;
    align-content: center;
}


p.Hero {
    background: #eeeeee;
    border-radius: 15px;
    padding: 10px;
    color: black;
}

p {
    background: #eeeeee;
    padding: 10px;
    color: black;
}

/* card */
.image-card {
min-width: 33%;
max-width: 100%;
}


 div, p .card  { 
 display: inline-flex;
 width: 32%;
}


.button-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 250px;
    border-color: white;
    border: none;
    width: 100%;
    height: 55px;
    background: #0A85ED;
    color:white;
}


/* whatsapp button */


.button, .button-whatsapp  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 350px;
    border-color: white;
    border: none;
    width: 99%;
    height: 55px;
    background: #25d366;
    color:white;    
}


/* footer */
a.none, { background: white;
color:#0d41e1;
}
    
a.afooter{ background: #040d2b;
 color:#ffffff ;
}

h6 {
    text-align: center; 
    background:#040d2b;
    font-size: 14PX;
    font-weight: initial;
    color: rgba(241, 229, 229, 0.952);
    width: 100%;
    height: 25%;
    margin-top: 10px;
    border-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

::selection {
    background: #0D41E1;
    color:rgb(255, 255, 255);
}

::hover 
{
    color: 09A6F3;
}
