* {
    background:rgb(fff7eb);
    font-family: 'Ubuntu', sans-serif;  
}

h1, h3 , h2 {
    text-align: center; 
    color: #212a31;  
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color:#212a31;
    background: #f5c27a;
    height: 150px;
}

h6 {
    text-align: center; 
    background:#212a31;
    font-size: 14PX;
    font-weight: initial;
    color: rgba(241, 229, 229, 0.952);
    width: 100% vw;
    height: 25% vh;
    border-radius: 15px;    
    margin-top: 10px;
    border-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 0px;
}


.video {
    text-align: center; 
    background:white;
    font-size: 14PX;
    font-weight: initial;
    width: 100% vw;
    border-radius: 30px;    
    margin-top: 10px;
    border-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

nav, summary, details, a {
background: #ff5666;
text-decoration: none;
color: white;
border-radius: 15px;
font-size: 20px;

}

a.none{ background: white;
color:#212a31 ;}

a.afooter{ background: #212a31;
    color:white ;}


p.Herolight {
    background: #868d8c49;
    border-radius: 15px;
    padding: 10px;
    color: rgb(0, 0, 0);
}
p.Hero {
    background: #7765e3;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

p {
    background: #f5c27a;
    border-radius: 15px;
    padding: 10px;
    color: #212a31;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 700px;
    width: 99%;
    height: 55px;
    border-radius: 15px;
    background: yellowgreen;
    color:black;
  
    
}

#imagendeproyecto {
width: 32%;
align-content: center;
}

::selection {
    background:rgb(7, 7, 7);
    color:rgb(255, 255, 255);
}